/web/bundles/
/web/.htaccess
/web/docs/*
/app/bootstrap*
/app/cache/*
/app/logs/*
/vendor/
/app/config/parameters.yml
/data/*
/nbproject/
composer.phar

.DS_Store

/app/check.php
/app/SymfonyRequirements.php

/docs/build/*
/app/phpunit.xml
.idea/
bin/

build/
cache.properties